<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fsu.campusrec">

    <permission
        android:name="edu.fsu.campusrec.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission  android:name="edu.fsu.campusrec.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aad39fed7430d676a80bfe3630bbc5382ce61fc6" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAiWw9udah3K2Y7R1GSBGmMPE_cW7Aiaos"/>
    </application>

</manifest>
